*{
padding:0rem;
margin:0rem;
box-sizing:border-box;
font-family:'FranklinGothicMedium','ArialNarrow',Arial,sans-serif;
color:var(--black)
}
.blur{
filter:blur(9px);
}
html{
scroll-behavior:smooth;
font-size:62.5%;

}



.flex{
display:flex;
align-items:center;
justify-content:center;
}

:root{
--back-grey:#efeaea;
--black:#000;
--white:#fff;
--data-box:rgba(247,239,243,0.8);
--btn-primary:#1a8ee1;

}
.dark_mode{
--back-grey:#212D3D;
--back-body:#0B111F;
--btn-primary:#1a8ee1;

}
.mini_boximg{
cursor:pointer;
}
.container{
width:99vw;
height:75.0rem;
display:flex;
justify-content:center;
margin-left:1%;
align-items:center;

margin-top:2.5rem;
border-radius:1.2rem;
background-color:var(--back-grey);
}

.wrapper{
width:98%;
height:98%;
display:flex;
padding:0.1rem;
align-items:center;
justify-content:center;
z-index:5;
background-color:var(--white);
border-radius:1.2rem;

}

.menu{
width:6.0rem;
height:96%;

border-radius:1.2rem;
background-color:var(--back-grey)
}

.middle{
width:60%;
height:96%;

margin-right:.5rem;
margin-left:.5rem;
display:flex;
align-items:center;
flex-direction:column;

}

.week{
width:28.0rem;
height:90%;
overflow:scroll;
margin-top:4rem;
border-radius:1.2rem;
padding:2.0rem.5rem;
background-color:var(--back-grey);
}

#search_box{
width:98%;
outline:none;
border:none;
font-weight:560;
background-color:var(--back-grey);
border-radius:1.2rem;
margin-bottom:1.5rem;
height:6.0rem;
padding:0rem1rem;

}

.temp_box{
width:98%;
display:flex;
align-items:center;
justify-content:space-between;
padding:0rem2.0rem;
height:20.0rem;

}

.temp_boximg{
float:right;

width:20.0rem;
height:100%;

}

.text_box{
width:55%;

height:100%;
padding:2.0rem;
}

.data_box{
margin:2.0rem0rem;
background-color:var(--back-grey)
}

#city{
font-size:2.5rem;
font-weight:600;

}

#temp_main{
font-size:4.5rem;
font-weight:500;
position:relative;
bottom:0rem;
left:0rem;
margin-top:3.5rem;



}

.today{
border-radius:1.2rem;
background-color:var(--back-grey);
width:98%;
padding:1.2rem;
height:32.0rem;
margin-top:1.0rem;
overflow-x:scroll;
}

#heading{
margin:3.2rem2.0rem;
color:grey;
text-transform:uppercase;
font-weight:500;
}

.btn{
width:8.0rem;
height:2.5rem;
outline:none;
border:none;
transition:all1s;
background-color:var(--btn-primary);
color:#fff;
border-radius:2.0rem;
margin-top:1.2rem;
position:relative;
left:27.0rem;
}
.for_box{
display:flex;
height:95%;
overflow-x:scroll;
overflow-y:none;
padding:1rem2rem;
align-items:center;
}
.for_data{
width:10.0rem;
height:15.0rem;
margin:0rem.5rem;
background-color:var(--data-box);
padding:1rem1.2rem;
box-shadow:.1rem.2rem.1rem#fff;
border-radius:1.2rem;
border-right:.2remsolid#000;
}

#temp_min{
text-align:center;
padding:0rem2.0rem;
width:100%;
font-weight:860;

}

.condition_data_box{
width:100%;
height:100%;

display:grid;
grid-row-gap:.2rem;
overflow:none;
grid-template-columns:repeat(auto-fit,minmax(25.0rem,1fr))
}

.condition_data{
width:25.0rem;
background-color:var(--back-grey);
margin:0.5rem.5rem;
height:8.0rem;
text-align:left;
padding:1.2rem1.5rem;
border-radius:1.2rem;
}

#value{
font-size:2.0rem;
font-weight:bolder;
margin:5.0rem3.5rem;
}

.week_day{
display:flex;
height:100%;
padding-top:1.0rem;
flex-direction:column;


}

.week_temp{
height:100%;

overflow:scroll;
}

.week_for{
width:100%;
height:7.0rem;
border:0remsolidblack;
border-radius:1.2rem;
display:flex;
background-color:var(--data-box);
align-items:center;
padding:0rem1.0rem;
margin:1.0rem0rem;
justify-content:space-between;

}
.menu_logo{
width:25px;
height:25px;
cursor:pointer;
margin-bottom:.5rem;
}
.text{
font-size:2rem;
margin-top:0.5rem;
}
.mini{
color:var(--black);
font-weight:600;
}

.bold{
font-weight:600;
color:var(--black);
}

.mini_box{
width:100%;
height:8.0rem;
display:flex;
align-items:center;
justify-content:center;
flex-direction:column;
}

.menu_txt{
font-size:1.0rem;
font-weight:800;
color:greyo;
}

.btn:hover{
border:.2remsolidvar(--btn-primary);
transform:scale(.9);
background-color:transparent;
color:var(--btn-primary)
}

.more{
height:100%;
background-color:#fff;
}

.less{
height:25.0rem;
background-color:var(--back-grey);
}

.none{
display:none;
}

.start{
width:100%;
height:100%;
display:flex;
align-items:center;
justify-content:center;
}

.left{
width:50%;
height:98%;
margin-left:1.0rem;
border-radius:1.2rem;
background-color:var(--back-grey)
}

.right{
width:50%;
height:98%;
display:flex;
align-items:center;
flex-direction:column;
justify-content:center;
}

.h1{
font-size:2.0rem;
color:tomato;
text-shadow:0rem.2remred;

}

.hide{
display:none;
}

.main{
width:100%;
border:.2remsolidred;
height:100%;
}

.btn_primary{
width:18.0rem;
height:5.0rem;
cursor:pointer;
outline:none;
border:none;
border-radius:4.0rem;
color:var(--white);
font-size:1.5rem;
margin-top:2.0rem;
font-weight:600;
transition:all1s;
transform:translateZ(20rem);
box-shadow:.2rem.2rem.2remlime;
background-color:var(--btn-primary)
}

.btn_primary:hover{
transform:scale(0.8);
background-color:lime;
color:#000;
box-shadow:none;
transform:translateY(1.0rem)
}
.res{
width:96%;
height:100%;
display:flex;
align-items:center;
justify-content:center;
}

/*Responsivedesign*/

@media(max-width:768px){
body{
width:100vw;
max-height:200em;


}
html{
font-size:45%;
}
.container{
max-width:99vw;
margin-top:.5rem;
height:100%;

}
.wrapper{
height:100%;
width:97vw;
display:flex;
flex-direction:column;
overflow-y:scroll;
}
.start{
height:100vh;
width:95vw;
margin-top:0.58em;
margin-right:0.35em;
flex-direction:column;
}
.h1{
font-size:3.0rem;
width:100%;
color:var(--btn-primary);
text-shadow:0rem.2remlime;
}
.left{

display:none;


}
.right{
text-align:center;
width:100%;



}
.middle{
width:96%;
margin-bottom:0rem;
height:100%;

}
.menu{
display:none;
}

.week_temp{
flex-grow:1;



}



}